.navigation{
  position: relative;
  min-height: 114px;
  padding: 30px 75px;
  transition: .3s ease;
  background: white;
  opacity: 1;
  &.nav-bg {
    background-color:none;
    padding: 15px 100px;
    @include desktop {
      padding: 15px 20px;
    }
  }
  @include desktop {
    padding: 20px;
    background: none;
  }
}

.navbar{
  position:fixed;
  width:100%;
  z-index:10;
  border-radius:0;
  border-color:transparent;
  top: 30px;

  .nav-item{
    .nav-link{
      font-family: $primary-font;
      text-transform: uppercase;
      padding: 15px;
    }
    &.active{
      font-weight: bold;
    }
  }
}

.navbar-dark .navbar-nav .nav-link{
  color: $white;
}

.navbar-brand img {
  height: 80px;
}