<!-- about -->
<section class="section blksection">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <p class="font-secondary paragraph-lg lead">{{ site.data.settings.blurb }}</p>
        <a href="/consulting" class="btn btn--one">Work with us</a>
        <a href="/subscribe" class="btn btn--two">Subscribe</a>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn--three">{{ site.data.settings.blurb-btn-name }}</a>

      </div>
    </div>
  </div>
</section>
<!-- /about -->