<!--Item slider-->
<div class="carousel-item">
    <div class="card border-0 rounded-0 text-light overflow zoom">
        <div class="position-relative">
            <!--thumbnail img-->
            <div class="ratio_left-cover-1 image-wrapper">
                <a href="#">
                    <img class="img-fluid w-100"
                            src="https://bootstrap.news/source/img2.jpg"
                            alt="">
                </a>
            </div>
            <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                <!--title-->
                <a href="#">
                    <h2 class="h3 post-title text-white my-1">Walmart shares up 10% on online sales lift</h2>
                </a>
                <!-- meta title -->
                <div class="news-meta">
                    <span class="news-author">by <a class="text-white font-weight-bold" href="#">Jennifer</a></span>
                    <span class="news-date">Oct 22, 2019</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Item slider-->
<div class="carousel-item">
    <div class="card border-0 rounded-0 text-light overflow zoom">
        <div class="position-relative">
            <!--thumbnail img-->
            <div class="ratio_left-cover-1 image-wrapper">
                <a href="#">
                    <img class="img-fluid w-100"
                            src="https://bootstrap.news/source/img3.jpg"
                            alt="">
                </a>
            </div>
            <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                <!--title-->
                <a href="#">
                    <h2 class="h3 post-title text-white my-1">Bank chief warns on Brexit staff moves to other company</h2>
                </a>
                <!-- meta title -->
                <div class="news-meta">
                    <span class="news-author">by <a class="text-white font-weight-bold" href="#">Jennifer</a></span>
                    <span class="news-date">Oct 22, 2019</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Item slider-->
<div class="carousel-item">
    <div class="card border-0 rounded-0 text-light overflow zoom">
        <div class="position-relative">
            <!--thumbnail img-->
            <div class="ratio_left-cover-1 image-wrapper">
                <a href="#">
                    <img class="img-fluid w-100"
                            src="https://bootstrap.news/source/img4.jpg"
                            alt="">
                </a>
            </div>
            <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                <!--title-->
                <a href="#">
                    <h2 class="h3 post-title text-white my-1">The world's first floating farm making waves in Rotterdam</h2>
                </a>
                <!-- meta title -->
                <div class="news-meta">
                    <span class="news-author">by <a class="text-white font-weight-bold" href="#">Jennifer</a></span>
                    <span class="news-date">Oct 22, 2019</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end item slider-->