body {
  background: $body-color url(/assets/images/backgrounds/ricepaper2.jpg);
  background-size: 300px 300px;
  background-repeat: repeat;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a.text-dark{
  &:hover{
    color: $primary-color !important;
  }
}

a:hover {
  color: $primary-color;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 80px;

  &-title {
    margin-bottom: 80px;
    font-family: $tertiary-font;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .5;
  }
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-gray{
  background: $gray !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-color {
  color: $text-color;
}

.text-dark {
  color: $text-color-dark !important;
}

.text-light {
  color: $text-color-light !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.rounded-lg{
  border-radius: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-secondary {
  font-family: $secondary-font !important;
}

.logo-font {
  font-family: $logo-font !important;
  font-weight: bold;
}

.font-tertiary {
  font-family: $tertiary-font !important;
}

.shadow {
  box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}

.bg-dark{
  background-color: #222222 !important;
}

/* icon */
.icon {
  font-size: 45px;
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

.icon-light {
  color: #c8d5ef;
}

/* /icon */

/* slick slider */
.slick-dots{
  text-align: center;
  padding-left: 0;
  li{
    display: inline-block;
    margin: 2px;
    &.slick-active{
      button{
        background: $white;
        width: 25px;
      }
    }
    button{
      height: 6px;
      width: 12px;
      background: rgba($color: $white, $alpha: .5);
      color: transparent;
      border-radius: 10px;
      overflow: hidden;
      transition: .2s ease;
      border: 0;
    }
  }
}
/* /slick slider */

/* form */
.form-control{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid $border-color;
  height: 60px;
  &:focus{
    border-color: $primary-color;
    outline: 0;
    box-shadow: none !important;
  }
}

textarea.form-control{
  height: 120px;
}
/* /form */

/* card */
.card{
  border: 0;
  &-header{
    border: 0;
  }
  &-footer{
    border: 0;
  }
}
/* /card */

.marker{
  position:relative;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  position: absolute;
  top: -250px;
  left: 100px;
  color: #FFF;
  font-size:1.3em;
  font-weight:bold;
}

.marker2{
  position:relative;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  position: absolute;
  top: -240px;
  left: 150px;
  color: #FFF;
  font-size:1.3em;
  font-weight:bold;
}
.marker,.marker2:before{
  content:"";
  background-color:#c21b6f;
  opacity: 0.82;
  width:100%;
  height:1em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  left:-0.25em;
  top:0.1em;
  padding:0 0.25em;
}

/* about-section buttons */
.above-fold {
  position: relative;
  margin-top: -123px;
}

.above-fold .row { 
  margin-bottom: -72px;
}
.absolute-holder {
  position: absolute;
  top: 0;
}

.btn {
  display: inline-block;
  text-decoration: none; 
  padding: .75em 2em;
  border: 2px solid;
  font-weight: bold;
  line-height: 1;
  background: transparent;
  border-radius: 0;
  margin-top: 2em;
}

.btn--one {
  color: white;
}

.btn--one:hover {
  background: white;
  color: black;
  border-color: white;
}

.btn--three:hover {
  background: yellow;
  color: black;
  border-color: yellow;
}

.btn--two:hover {
  background: #00FDCF;
  color: black;
  border-color: #00FDCF;
}

.btn--two {
  color: #00FDCF;
}

.btn--three {
  color: yellow;
}

.btn+.btn {
  margin-left: 1.25em;
}

.blksection {
  background: black;
}

.lead {
  font-size: 2.1em;
  line-height: 1.5;
  font-weight: bold;
  margin: 3em 0 calc(3em+5vh);
  color: white;
}

/*
diagonals 


.diagonal-box {
  position: relative;
}

.diagonal-box:before {
 position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-image: linear-gradient(45deg, #654ea3, #eaafc8); 	
   transform: skewY(-11deg);
}

.content {
 max-width: 50em;
   margin: 0 auto;
   position: relative;
}

.column img {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
.column:nth-child(2){
  transform: translateX(-75px);
}

.column:nth-child(3){
  transform: translateX(-150px);
}

.content-section-b {
  padding: 50px 0;
  background-color: #3C5A78;
}
*/

/* magazine header */
/* Credits to https://bootsnipp.com/snippets/1d3X9 */

.b-0 {
  bottom: 20%;
}
.p-2 {
  padding: 2.5rem!important;
}
.bg-shadow {
  background: rgba(76, 76, 76, 0);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
  background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
.top-indicator {
  right: 0;
  top: 1rem;
  bottom: inherit;
  left: inherit;
  margin-right: 1rem;
}
.overflow {
  position: relative;
  overflow: hidden;
}
.zoom img {
  transition: all 0.2s linear;
}
.zoom:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.text-hed {
  color: #ffdf2b;
  text-transform: capitalize !important;
}