// Color Variables
$primary-color: #4c4c4c;;
$secondary-color: #2bfdff;
$purple-color: #542cb7;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
$tertiary-font: 'Fraunces', serif;
$logo-font: 'Fira Sans', sans-serif;
$icon-font: 'themify';
